.signup-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8);
  animation: fadeIn 0.5s ease; /* Add the animation */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  background-color: silver;
  
}
.signup-container h1,
p {
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form div {
  width: 48%;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 720px) {
  .signup-container {
    max-width: 100%;
    padding: 10px;
  }

  form div {
    width: 100%;
  }

  input,
  button {
    font-size: 14px;
  }
  form {
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 721px) and (max-width: 2000px) {
  body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
}
